.jumbotron {
  padding: 0;
  margin-bottom: 0;
}

.jumbotron .banner {
  background-size: cover;
  height: 1000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .h1-home {
    position: absolute;
    left: calc(50% - 563px);
    top: 100px;
    background-color: white;
    padding: 0px;
    border-radius: 14px 14px 0px 14px;
    .white-div {
      height: 12px;
    }
    .list-h1 {
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .info-circle, .cross {
        margin: 3px;
      }
      h1 {
        padding: 5px;
        color: white;
        margin: 3px 3px 3px 3px;
        font-size: 13px;
      }
    }
    p {
      font-size: 11px;
      margin: 3px 3px 8px 3px;
      text-align: center;

    }
    .logo-container {
      margin-top: 6px;
      display: flex;
      justify-content: space-between;
    }
  }

  .banner-content {
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: $home-font-color;
    padding: 0 10px;
    h2, h3, p {
      color: $home-font-color;
    }
    h2 {
      text-shadow: 1px 1px 0px $home-text-shadow;
      font-size: 70px;
      margin: 10px;
    }
    p {
      font-weight: 400;
    }
  }
}

.jumbotron .banner-xs {
    background-size: cover;
    height: 634px;
    position: relative;

    .h1-home-mobile {
      position: absolute;
      top: 20px;
      left: 15px;
      background-color: white;
      padding: 0px 10px 10px 10px;
      border-radius: 14px 14px 14px 14px;
      margin: 10px;
      padding: 0;
      .logo-container {
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cross {
          margin: 3px;
        }
        h1 {
          padding: 2px;
          color: white;
          margin: 3px 3px 3px 3px;
          font-size: 13px;
        }
      }
      p {
        font-size: 11px;
        margin: 3px 3px 6px 3px;
        text-align: center;
      }
    }

    .banner-content-xs {
      position: absolute;
      top: 120px;
      left: calc(50% - 125px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      color: $home-font-color;
      padding: 0 10px;
      h2, h3, p {
        color: $home-font-color;
      }
      h2 {
        text-shadow: 1px 1px 0px $home-text-shadow;
        font-size: 54px;
        margin: 10px;
      }
    }
}
