.jumbotron {
  padding: 0;
  margin-bottom: 0;
}

.jumbotron .banner {
  background-size: cover;
  height: 1000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .banner-content {
    position: absolute;
    top: 150px;
    // flex-direction: column;
    // justify-content: center;
    text-align: center;
    // align-items: center;
    left: calc(50% - 156px);
    text-align: center;
    color: $home-font-color;
    padding: 0 10px;
    h2, h3, p {
      color: $home-font-color;
    }
    h2 {
      text-shadow: 1px 1px 0px $home-text-shadow;
      font-size: 70px;
      margin: 10px;
    }
    p {
      font-weight: 400;
    }
  }
}

.jumbotron .banner-xs {
    background-size: cover;
    height: 634px;
    position: relative;

    .banner-content-xs {
      position: absolute;
      top: 120px;
      left: calc(50% - 125px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      color: $home-font-color;
      padding: 0 10px;
      h2, h3, p {
        color: $home-font-color;
      }
      h2 {
        text-shadow: 1px 1px 0px $home-text-shadow;
        font-size: 54px;
        margin: 10px;
      }
    }
}
