.offer-container {
  position: relative;
  .box {
    z-index: 0;
    width: 100%;
    height: 690px;
    top: -136px;
    position: relative;
    background: linear-gradient(to right, #43cea2, #185a9d);
    transform: skewY(-12deg);
    // background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%)
    .box1 {
      background: #43cea2;
      position: absolute;
      top: 0px;
      height: 107px;
      width: 33%;
    }
    .box2 {
      background:#185a9d;
      position: absolute;
      bottom: 0px;
      right: 0px;
      height: 100px;
      width: 33%;
    }
  }
  .container-user-show {
    position: absolute;
    left: calc(50% - 585px);
    top: 6px;
  }
}
.body-offer {
background-color: $body;
}

.photos-card-container {
  padding-left: 10px;
}

.offer-content {

  .offer-container {
    // background: #43cea2;
    // background: linear-gradient(to right, #43cea2, #185a9d);
    margin-top: 0px;
    min-height: 100vh;
    .container {
      margin-top: 0px !important;
    }

    .card-separator{
      position: relative;
      .offer-card-image {
        transition: all ease 0.25s;
        position: absolute;
        right: calc(50% - 19px);
        top: -17px;
        margin: 0px;
        width: 38px;
      }
      hr {
        transition: all ease 0.25s;
        border-top: 1px solid #C2C1C1;
        margin: 40px 30px;
      }
    }

    h1 {
      color: white;
      font-size: 45px;
      text-align: center;
      font-family: "Open Sans" !important;
      margin-right: 30px;
    }
    h2 {
      margin: 5px;
      color: white;
      font-size: 20px;
      text-align: center;
      font-family: "Open Sans" !important;
    }

    .offer-cards {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        color: #32325d;
        font-size: 20px;
        text-align: center;
        font-family: "Open Sans" !important;
        margin: 30px;
      }
      p {
        color: #32325d;
        text-align: center;
      }
      p:last-child {
      margin-bottom: 30px;
      }
      .card-offer {
        padding: 5px;
        min-width: 255px;
        background: white;
        border-radius: 3px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        margin: 20px;
        transition: all ease 0.25s;
      }
      .card-offer:hover {
        transform: scale(1.03);
        box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
        transition: all ease 0.25s;
        h2 {
          visibility: hidden;
        }
        .offer-card-image {
          top: -74px;
          width: 52px;
          right: calc(50% - 26px);
        }
        hr {
          margin: 40px 5px;
        }
      }
    }
    .offer-cards-mobile {
      display: flex;
      flex-direction: column;
      h2 {
        color: #32325d;
        font-size: 20px;
        text-align: center;
        font-family: "Open Sans" !important;
        margin-top: 30px;
      }
      p {
        color: #32325d;
        text-align: center;
      }
      p:last-child {
      margin-bottom: 30px;
      }
      .card-offer {
        background: white;
        border-radius: 3px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        margin: 28px;
      }
    }
  }

.offer-h1 {
  margin-left: 0px;
  margin-bottom: 25px;
  margin-top: 25px !important;
  font-size: 40px !important;
}

 .offer-buttons {
    display: flex;
    margin: 30px 0px;
      .explore{
        position: relative;
        top: 0px;
        right: 0px;
        transition: top ease 0.15s;
        background-color: #53f !important;
        color: white;
        margin: 10px;
        border-radius: 3px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      }
      .explore:hover {
        top: -2px;
      }
      .compte {
        position: relative;
        top: 0px;
        right: 0px;
        transition: top ease 0.15s;
        background-color: white !important;
        color: #32325d;
        margin: 10px;
        border-radius: 3px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      }
      .compte:hover {
        top: -2px;
      }
  }

  .offer-buttons-mobile {
    height: 110px;
    margin-bottom: 30px;
      .explore{
        background-color: #53f !important;
        color: white;
        margin: 10px;
        border-radius: 3px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      }
      .compte {
        background-color: white !important;
        color: #32325d;
        margin: 10px;
        border-radius: 3px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      }
  }
}

.bottom-info {
  .offer-intro {
    background-color: $body;
    h2 {
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 22px;
      color: #32325d;
      // #160285;
    }
    p {
      font-size: 17px;
      margin-right: 10px;
    }
  }
  margin-bottom: 50px;
}

#anchor-info {
  position: relative;
  .contact-offer-presentation {
    font-weight: 100;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    color: black;
    background: $card-background;
    border-radius: $project-border-radius;
    // border: $card-border;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    p {
      font-size: 12px;
    }
    p:last-child {
      margin-bottom: 0px;
    }
  }
}
