.offer-container {
  position: relative;
  .box {
    z-index: 0;
    width: 100%;
    height: 690px;
    top: -136px;
    position: absolute;
    background: linear-gradient(to right, #43cea2, #1d79d6);
    transform: skewY(-12deg);
    // background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%)
    .box1 {
      background: #43cea2;
      position: absolute;
      top: 0px;
      height: 107px;
      width: 33%;
    }
    .box2 {
      background:#1d79d6;
      position: absolute;
      bottom: 0px;
      right: 0px;
      height: 100px;
      width: 33%;
    }
  }
  .container-user-show {
    // position: absolute;
    // left: calc(50% - 585px);
    // top: 6px;
  }
}
.body-offer {
background-color: $body;
}


.homepage-intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 500px;
  .homepage-front-img {
    width: 50%;
    position: relative;
    top: 16px;
  }
  .homepage-title-bloc {
    width: 44%;
    ul {
      list-style: none;
      color: white;
      padding-left: 57px;
      margin-top: 22px;
      li {
        margin: 7px;
      }
      img {
        width: 3%;
      }
    }
  }
}

.homepage-intro-mobile {
  position: relative;
  h1 {
    font-size: 30px;
  }
  .homepage-title-bloc {
    width: 100%;
    ul {
      list-style: none;
      color: white;
      padding-left: 57px;
      margin-top: 22px;
      li {
        margin: 7px;
      }
      img {
        width: 3%;
      }
    }
  }
}

.photos-card-container {
  padding-left: 10px;
}

.offer-content {
  .offer-container {
    margin-top: 0px;
    .container {
      margin-top: 0px !important;
    }

    h1 {
      color: white;
      font-size: 39px;
      text-align: center;
      text-shadow: 0px 2px 0px rgba(0,0,0,0.15);
    }
    h2 {
      color: white;
      font-size: 20px;
      text-align: center;
    }

    .offer-cards {
      margin: 30px 0 60px 0;
      @media all and (max-width: 768px) {
        margin: 0px 0 30px 0 !important;
      }
      align-items: center;
      justify-content: center;
      h2 {
        color: #32325d;
        font-size: 20px;
        text-align: center;
        margin: 30px;
        @media all and (max-width: 768px) {
          margin: 30px 0px !important;
          font-size: 18px;
        }
      }
      p {
        color: #525f7f;
        text-align: center;
        @media all and (max-width: 768px) {
          margin: 30px 0px !important;
          font-size: 14px;
        }
      }
      p:last-child {
      margin-bottom: 30px;
      }

      .card-offer {
        padding: 5px;
        min-width: 255px;
        background: white;
        border-radius: 1px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        margin: 20px;
        border: 1px solid #e8e8e8;
        transition: all ease 0.25s;
        position: relative;
        @media all and (max-width: 768px) and (min-width: 576px) {
          min-width: 210px;
          margin: 0px;
        }
        @media all and (max-width: 576px) {
          margin: 20px 0px;
        }
        .after-hover {
          visibility: hidden;
          position: absolute;
          font-size: 12px;
          margin: 0;
          color: #369EBF;
          top: 60px;
          left: calc(50% - 72px);
          transition: all ease 0.25s;
        }
      }
      .card-offer:hover {
        transform: scale(1.03);
        box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
        transition: all ease 0.25s;
        .after-hover {
         visibility: visible;
        }
        hr {
          margin: 60px 5px;
        }
      }
    }
    .card-separator {
      position: relative;
      .card-image-circle {
        position: absolute;
        right: calc(50% - 33px);
        top: -31px;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #369EBF;
      }
      .offer-card-image {
        transition: all ease 0.25s;
        margin: 0px;
        width: 38px;
      }
      hr {
        transition: all ease 0.25s;
        border-top: 1px solid #369EBF;
        margin: 60px 30px;
      }
    }
    .pricing-cards {
      .after-hover.free {
        left: calc(50% - 74px);
      }
      .after-hover.base {
        left: calc(50% - 102px);
      }
      .after-hover.on-demand {
        left: calc(50% - 87px);
      }
      .pricing-circle {
        right: calc(50% - 38px);
        top: -36px;
        width: 76px;
        height: 76px;
      }
    }
  }

 .offer-buttons {
    display: flex;
    position: relative;
    top: -65px;
    margin-left: 20px;
      .explore{
        position: relative;
        top: 0px;
        right: 0px;
        transition: top ease 0.15s;
        background-color: #53f !important;
        color: white;
        margin: 10px;
        border-radius: 3px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      }
      .explore:hover {
        top: -2px;
      }
      .compte {
        position: relative;
        top: 0px;
        right: 0px;
        transition: top ease 0.15s;
        background-color: white !important;
        color: #32325d;
        margin: 10px;
        border-radius: 3px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      }
      .compte:hover {
        top: -2px;
      }
  }

  .offer-buttons-mobile {
    height: 110px;
    margin: 0px 10px 30px 10px;
    position: relative;
      .explore{
        background-color: #53f !important;
        color: white;
        margin: 10px 0px;
        border-radius: 3px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      }
      .compte {
        background-color: white !important;
        color: #32325d;
        margin-top: 10px;
        border-radius: 3px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      }
  }
}

.bottom-info {
  .offer-intro {
    background-color: $body;
    h2 {
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 22px;
      color: #32325d;
      // #160285;
    }
    a.pdf-link {
      h2 {
        border-bottom: 1px solid #686868;
        position: absolute;
      }
    }
    @media all and (max-width: 700px) {
      a.pdf-link {
        h2 {
          border-bottom: none;
          position: initial;
          text-decoration: underline;
          font-size: 16px;
        }
      }
    }
    p {
      font-size: 17px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  margin-bottom: 100px;
  @media all and (max-width: 576px) {
    margin-bottom: 20px;
  }
}

#anchor-info {
  position: relative;
  .contact-offer-presentation {
    font-weight: 100;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: -25px;
    z-index: 1;
    background-color: white;
    color: white;
    background: #43cea2;
    border-radius: $project-border-radius;
    border: $card-border;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    p {
      font-weight: 600;
      font-size: 12px;
    }
    p:last-child {
      margin-bottom: 0px;
    }
  }
  .link-account {
    color: #53f;
  }
}

.contact-offer-presentation-mobile {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    font-weight: 300;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    z-index: 1;
    background-color: #43cea2;
    color: white;
    p {
      font-size: 15px;
      margin: 0px !important;
    }
  }

.pricing-header {
  font-size: 50px !important;
  color: #32325d !important;
  text-shadow: 0px 2px 0px rgba(0,0,0,0.15);
}
.price {
  color: #32325d;
  font-weight: 600;
}
