.offer-content .offer-container {
  .product-claim {
    background-color: transparent;
    position: relative;
    z-index: 2;
    h1 {
      margin: 50px 0 50px 0;
    }
    h2 {
      margin-top: 30px;
      text-align: left;
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 22px;
      color: #32325d;
    }
    p {
      font-size: 17px;
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.25);
    }
    a {
      color: #333333;
      border-bottom: 1px solid #686868;
      text-decoration: none;
      h2 {
        border-bottom: 1px solid #686868;
        text-decoration: none;
        width: 590px;
      }
    }
  }
}

.box-claim {
  margin-bottom: 550px;
}

@media all and (max-width: 800px) {
  .offer-content .offer-container {
    .product-claim {
      h1 {
        font-size: 30px;
        margin: 35px 0px 50px 0px;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
      }
      h2 {
        font-size: 22px;
        margin: 10px auto;
      }
      p {
        font-size: 18px;
        margin: 10px auto 20px auto;
        text-align: justify;
      }
    }
 }
}

@media all and (max-width: 700px) {
  .offer-content .offer-container {
    .product-claim {
      a {
        h2 {
          font-size: 17px;
          width: 300px;
          border-bottom: none;
          text-decoration: underline;
        }
      }
    }
  }
}
