<div class="list-header-1">
  <div class="white-div"></div>
  <div class="list-h1">
    <div class="block1">
      <i class="fa fa-info-circle info-circle" aria-hidden="true"></i>
      <h2>Contactez nous pour un devis</h2>
    </div>
    <i class="fa fa-times cross cross-1"></i>
  </div>
  <p>Cette boutique est la base de notre offre, nous pouvons l'étoffer selon vos besoins. Contactez nous pour revoir votre projet ensemble.</p>
  <p>Tel: 06.85.47.68.48</p>
  <p>gcrouillere@creermonecommerce.fr</p>
</div>
