<% content_for(:description) do %>
  Utilisez le formulaire de contact pour nous envoyer un message. Réponse rapide assurée !
<% end %>
<% content_for(:title_tag) do %>
  Contactez-nous pour des renseignements ou nous présenter votre projet de boutique en ligne
<% end %>

<div class="offer-container">
  <div class="box">
    <span class="box1"></span>
    <span class="box2"></span>
  </div>
  <div class="container">
    <div class="contact-coord">
      <div class="contact-form">
        <%= render 'shared/subscribe_default' %>
      </div>
    </div>
  </div>
</div>


