<% content_for(:description) do %>
Nous créons des boutiques en ligne pour des artisans, des auto-entrepreneurs ou des PME. Nous proposons une solution e-commerce simple d'utilisation. Grâce à notre application vous pilotez votre e-commerce en quelques clics.
<% end %>
<% content_for(:title_tag) do %>
 Découvrez la facilité d'utilisation de notre application de boutique en ligne
<% end %>

  <div class="offer-container">
    <div class="box">
      <span class="box1"></span>
      <span class="box2"></span>
      <span class="box3"></span>
      <span class="box4"></span>
    </div>
    <div class="container">
      <div class="product-claim">
      <h1>Découvrez toutes les fonctionnalités offertes par notre application de boutique en ligne :</h1>
      <h2>ADMINISTRATION</h2>
      <p>L'administration est gérée à partir de la boutique, dans un espace dédié et sécurisé. Vous créez vos fiches produits à travers un formulaire simple (textes et photos). La boutique s'occupe du reste: mise en page, affichage, gestion du stock. Il n’y a pas de limite sur le nombre d’administrateurs. Il n’y a pas de limite sur le nombre de produits. <%= link_to "Créez un compte", new_user_registration_path %> pour pouvoir tester l'administration.</p>
      <h2>DESIGN</h2>
      <p>Vous disposez dès le démarrage de votre e-commerce, de 3 thèmes. Vous avez ainsi 3 environnements graphiques différents pour optimiser le cadre donné à vos produits. Vous pouvez également personnaliser à tous moments les couleurs, les photos, le logo et les textes qui composent votre boutique. Si vous souhaitez intégrer une charte graphique différente, nous créons la boutique selon votre cahier des charges. Voici des exemples des thèmes inclus dans la boutique en ligne: <a href="https://www.heleneraynal.fr" target="blank">Anthracite</a>, <a href="https://www.carolekceramique.fr/" target="blank">&Eacute;puré</a> ou <a href="https://ceramiquesnugier.herokuapp.com/" target="blank">Couleurs</a>.</p>
      <h2>PAIEMENTS</h2>
      <p> Le paiement par CB est assuré par une <a href="https://stripe.com/fr" target="blank">banque spécialisée</a> dans les paiements par internet. Elle prend 1% de commission sur chaque paiement. Les virements sont effectués automatiquement sur votre compte chaque jour.</p>
      <h2>PRISE DE R&Eacute;SERVATIONS</h2>
      <p>Un module de prise de réservations pour des stages ou des visites est disponible. Vous pouvez soit proposer un calendrier ouvert à vos clients, soit leur laisser le choix dans une liste de stage que vous créez. Dans le premier cas, vous bloquez les périodes pendant lesquelles vous n'offrez pas de stage. Ce module peut être retiré si il est inutile pour votre activité. <%= link_to "Voir l'exemple", new_lesson_path, target: "blank" %> du module de prise de réservations.</p>
      <h2>ALERTES AUTOMATIQUES</h2>
      <p>A chaque commande, un mail est envoyé avec récapitulatif de la commande. Un mail pour la boutique, un mail pour le client. Ceci pour les ventes de produits et de stages/cours. Les informations de suivi colis sont également envoyées au client via l’administration du site.<p>
      <h2>SMARTPHONES</h2>
      <p>Votre boutique est compatible avec tous les smartphones. Toutes les fonctionnalités (paiements, prise de réservations) sont accessibles sur tous les smartphones. Vous accédez également à l'administration sur votre smartphone. Vous gérez ainsi toutes les ressources de votre boutique d'où vous voulez.</p>
      <h2>INTERNATIONAL</h2>
      <p>Les frais d'expéditions sont intégrés via l'application colissimo de La Poste. Colissmo propose des envois de colis partout dans le monde au départ de n'importe quel bureau de poste. Lors de la finalisation du panier, le client choisit son pays et visualise en direct les frais de transport associés. De plus notre application de boutique en ligne offre 2 langues dans sa version de base : le français et l'anglais.</p>
      <h2>R&Eacute;F&Eacute;RENCEMENT</h2>
      <p>Le référencement est assuré dans le temps par vos soins. Néanmoins, la boutique est prête pour le référencement. La structure des pages est prévue pour. Vous disposez également de boutons de partage automatiques de vos produits sur les réseaux sociaux.</p>
      <a href="https://res.cloudinary.com/dbhsa0hgf/image/upload/v1535204313/Documentation_boutique_en_ligne_-_creermonecommerce.fr_-_2018.pdf" target="blank"><h2>Consultez la documentation complète en PDF</h2></a>
    </div>
  </div>
</div>
