.h1-home {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    position: absolute;
    right: calc(50% - 540px);
    top: 374px;
    background-color: white;
    padding: 0px;
    border-radius: 0px 14px 14px 14px;
    .white-div {
      height: 12px;
    }
    .list-h1 {
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .info-circle, .cross-1 {
        margin: 3px;
      }
      .cross-1 {
        cursor: pointer;
      }
      h1 {
        padding: 5px;
        color: white;
        margin: 3px 3px 3px 3px;
        font-size: 13px;
      }
    }
    p {
      font-size: 11px;
      font-weight: 400;
      margin: 3px 3px 8px 3px;
      text-align: center;

    }
    .logo-container {
      margin-top: 6px;
      display: flex;
      justify-content: space-between;
    }
  }

  .h1-home-2 {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    width: 400px;
    position: absolute;
    left: calc(50% - 590px);
    top: 50px;
    background-color: white;
    padding: 0px;
    border-radius: 14px 14px 0px 14px;
    .white-div {
      height: 12px;
    }
    .list-h1 {
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .info-circle, .cross-2 {
        margin: 3px 3px 3px 6px;
      }
      .cross-2 {
        cursor: pointer;
      }
      h2 {
        padding: 5px;
        color: white;
        margin: 3px 3px 3px 3px;
        font-size: 20px;
      }
    }
    p {
      font-size: 14px;
      margin: 10px;
      font-weight: 400;
    }
    .logo-container {
      margin-top: 6px;
      display: flex;
      justify-content: space-between;
    }
  }

.h1-home-mobile {
      position: absolute;
      top: 20px;
      left: 15px;
      background-color: white;
      padding: 0px 10px 10px 10px;
      border-radius: 14px 14px 14px 14px;
      margin: 10px;
      padding: 0;
      .logo-container {
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cross {
          margin: 3px;
        }
        h1 {
          padding: 2px;
          color: white;
          margin: 3px 3px 3px 3px;
          font-size: 13px;
        }
      }
      p {
        font-size: 11px;
        margin: 3px 3px 6px 3px;
        text-align: center;
      }
    }
