.info-top {
  display: flex;
  justify-content: center;
  .list-header-1, .list-header-2 {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px;
    background: $card-background;
    border-radius: 14px;
    border: $card-border;
    position: relative;
    .white-div {
      height: 13px;
    }
    .list-h1 {
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .block1 {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
      }
      .info-circle, .cross {
        margin: 10px;
        font-size: 20px;
      }
      .cross {
        cursor: pointer;
      }
      h1, h2 {
        font-size: larger;
        font-weight: 500;
        margin: 10px;
        padding: 2px;
        color: white;
      }
    }
    p {
      font-size: 13px;
      margin: 12px;
    }
  }
}

.stage-list {
  border-width: 0px 0px 1px 0px !important;
}

.list-header-mobile {
  margin: 0px 10px 10px 10px !important;
  padding: 0;
  .list-h1 {
    background-color: $primary;
    h1 {
      padding: 2px;
      color: white;
      }
  }
  p {
    min-height: 20px;
  }
    .cross-mobile {
    position: absolute;
    bottom: 2px;
    right: 6px;
  }
}
