.search-bar {
  padding: 0;
  .ceramique-filters-content {
    position: fixed;
    width: 245px;
    margin-top: 20px;
    background: $card-background;
    border-radius: $project-border-radius;
    border: $card-border;
    padding: $padding-small;

    .label-search {
      font-weight: $font-weight-label;
    }

    .label-search.all {
      width: 100%;
      margin-bottom: 20px;
    }

    h2 {
      font-size: $font-size-h4;
      font-weight: $font-weight-h4-search;
      margin-bottom: 15px;
      margin-top: 10px;
      color: $filter-title;
    }

    h3 {
      font-size: $font-size-h5;
      font-weight: $font-weight-h5-search;
      margin-bottom: 8px;
    }


    input {
      margin-right: 5px;
    }

    .prix {
      width: 100px;
      margin-bottom: 13px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-left: 7px;
      }
      li:last-child {
        margin-bottom: 15px;
      }
    }
  }
}
