.top-info {
  background-color: white;
  border: $card-border;
  border-radius: $project-border-radius;
  padding: $padding-small;
  margin-bottom: 20px;
  p {
    a {
      color: #6772e5;
    }
    a:hover {
      color: #53f;
    }
  }
}

h2.compte-head {
  font-family: "Open Sans" !important;
  font-size: 25px;
  margin: 11px 0px;
}

.left-nav {
  position: relative;
  padding-left: 0px;
  .user-info {
    background-color: white;
    border: $card-border;
    border-radius: $project-border-radius;
    padding: $padding-small;
    h4.user-mail {
      font-family: "Open Sans" !important;
      font-size: 16px;
      margin: 11px 0px 11px 10px;
    }
    h3 {
      font-size: 21px;
      margin: 22px 0px 11px 0px;
    }
    h2 {
      margin-bottom: 15px;
    }
    .form-inputs {
      .form-group {
        margin-bottom: 8px;
        width: 100%;
        .label {
          padding: 0px;
          display: flex;
          align-items: center;
          color: black;
          p {
            font-weight: 300;
            font-size: 15px;
            margin: 0px 5px 5px 0px;
          }
          p:last-child {
            font-weight: 400;
            font-size: 16px;
          }
        }
        .form-control {
          font-weight: 400;
          font-size: 13px;
          height: 25px;
          margin-bottom: 10px;
        }
        .control-label.string {
          font-size: 15px;
          font-weight: 300;
        }
        .help-block {
          font-size: 12px;
          font-weight: 300;
        }
      }
      .hint {
        margin-left: 5px;
        margin-top: -16px;
        font-size: 11px;
        font-weight: 300;
      }
    }
    .info-perso {
      text-align: center;
      margin: 25px 0px 15px 0px;
    }
  }
  .demo-bloc {
    position: fixed;
    margin-top: 15px;
    text-align: center;
    width: 270px;
    .btn.btn-primary {
      background-color: #53f !important;
      color: white;
      margin: 10px 10px 5px 10px;
      border-radius: 3px;
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    }
    p {
      font-size: 10px;
    }
  }
}


.photos-container {
  padding: 10px;
  margin-bottom: 30px;
  background-color: white;
  border: $card-border;
  border-radius: $project-border-radius;
  h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 22px 0px 11px 0px;
  }
}

.photos-card:last-child {
  // margin-bottom: 5px;
}
.photos-card {
  width: 411px;
  margin-bottom: 30px;
  .user-photo {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 272px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px 3px 0px 0px;
    .card-photo-horizontale {
      border-radius: 3px 3px 0px 0px;
      width: 100%;
      padding: 10px;
    }
    .card-photo-verticale {
      border-radius: 3px 3px 0px 0px;
      height: 100%;
      padding: 10px;
    }
    .card-photo {
      border-radius: 3px 3px 0px 0px;
      width: 100%;
      max-height: 270px;
    }
    .card-photo.verticale {
      border-radius: 3px 3px 0px 0px;
      height: 100%;
      max-width: 368px;
      width: auto;
    }
  }
  .add-photo {
    background-color: white;
    // background: linear-gradient(to right, #fff, #eaf2fc);
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 0px;
    border-radius: 0px 0px 3px 3px;
    i {
      margin-left: 10px;
      font-size: 22px;
      // background-color: red;
    }
    span {
      margin-left: 10px;
      font-size: 18px;
    }
  }

  .input {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 0px;
    border-radius: 0px 0px 3px 3px;
    .save-photo {
      margin: 10px 0px;
      display: flex;
      justify-content: center;
    }
    .form-group.attachinary.optional {
      margin: 5px;
      .attachinary.optional.attachinary-input {
        display: flex;
      }
    }
    ul {
      list-style: none;
      margin-top: 20px;
    }
   .input-info {
      color: #53f;
      font-size: 11px;
      margin: 0px 0px 0px 5px;
      padding: 5px 5px 0px 5px;
    }
  }
}

.form-actions {
  margin-bottom: 30px;
}

// MOBILE
.top-info-mobile {
  margin: 10px;
  background-color: white;
  border: $card-border;
  border-radius: $project-border-radius;
  padding: $padding-small;
  margin-bottom: 20px;
  p {
    a {
      color: #6772e5;
    }
    a:hover {
      color: #53f;
    }
  }
}

.user-info-mobile {
  margin: 10px;
  background-color: white;
  border: $card-border;
  border-radius: $project-border-radius;
  padding: $padding-small;
  h4.user-mail {
    font-family: "Open Sans" !important;
    font-size: 16px;
    margin: 11px 0px 11px 10px;
  }
  h3 {
    font-size: 21px;
    margin: 22px 0px 11px 0px;
  }
  .form-inputs {
    text-align: center;
    .form-group {
        margin: 10px;
        margin-bottom: 10px;
        width: 80%;
      .form-control {
        font-size: 13px;
        height: 25px;
      }
      .control-label.string {
        font-size: 15px;
        font-weight: 300;
      }
      .help-block {
        font-size: 12px;
        font-weight: 300;
      }
      .label {
        padding: 0px;
        display: flex;
        align-items: center;
        color: black;
        p {
          font-weight: 300;
          font-size: 15px;
          margin: 0px 5px 5px 0px;
        }
        p:last-child {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
  .hint {
    margin-left: 12px;
    margin-top: -8px;
    font-size: 11px;
    font-weight: 300;
  }
  .info-perso {
    text-align: center;
    margin: 25px 0px 15px 0px;
  }
}
.demo-bloc-mobile {
  margin: 10px;
  margin-top: 15px;
  text-align: center;
  .btn.btn-primary {
      background-color: #53f !important;
      color: white;
      margin: 10px;
      border-radius: 3px;
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  }
}
